Repository LuaLS/vscode-lua, pull requests merged in 2024-09, with the labels that each got.

#146 Prune old tags from addons
  client/src/addon_manager/models/addon.ts
Labels: bug, addon manager

#141 Add `setConfig` public api
  client/src/extension.ts
Labels: enhancement

#148 add: enable addons using placeholder
  client/src/addon_manager/commands/enable.ts
  client/src/addon_manager/models/addon.ts
  client/src/addon_manager/services/settings.service.ts
Labels: enhancement, addon manager
